.body {
  height: 100vh;
  font-family: Arial, sans-serif;
}

.btn_filter {
  background: rgb(179, 46, 231);
  border-color:rgb(179, 46, 231) ;
}
.btn-primary{
  background-color: rgb(124, 13, 124);
  border-color: rgb(110, 0, 110) ;
  color:white;
}

.banner_back{
  height: 100vh;
  font-family: Arial, sans-serif; 
}
//background: linear-gradient(135deg, #d4a5f0, #7147e2);
  //background-size: 400% 400%;