<div name="complete" class="complete"> 
<div name="head">
<h1 name="log">Login</h1>
<p name="primer">mi primer formulario</p>
</div>

<div name="formulario" class="name"> 
<form [formGroup]="loginForm">
    <input type="text" name="username" placeholder="Introduzca su nombre de usuario">
    <input type="password" name="password" placeholder="Introduzca su contraseña">
</form>
</div>

<div name="bot log">
<p name="pass">Olvidaste la contraseña?</p>
<button name="logg">Login</button>
</div>

<div name="red soc">
    <p name="follow">Síguenos en:</p>
</div>
</div>