<div class="body"> 
<div class="login-container">
    <div class="profile-icon">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="User Icon">
    </div>

    <form [formGroup]="loginForm">
        <input type="text" class="input-field" placeholder="Introduzca su nombre de usuario" required>
        <input type="password" class="input-field" placeholder="Introduzca su contraseña" required>
    </form>

    <div class="options">
        <div>
            <a href="#">Olvidaste la contraseña?</a>
        </div>
    </div>
    <button type="submit" class="login-btn">LOGIN</button>

    <div class="footer">
        Mi primera api mi gente :3
    </div>
</div>
</div>