<!-- Title -->
<div class="container-md  ">
    <div class="py-5 text-center">
        <h3 class="text-dark">Crear Producto</h3>
    </div>

    <!-- Form -->
    <div class="row">
        <div class="col-12 order-md-1">
            <h4 class="mb-3">Recuerde rellenar todos los campos.</h4>
            <form class="elements" novalidate="">
                <div class="row">
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label for="productName">Nombre del Producto</label>
                        <input type="text" class="form-control" id="productName" placeholder="nombre del producto">
                    </div>

                    <div class="col-md-6 col-sm-12 mb-3">
                        <label for="price">Precio</label>
                        <input type="number" class="form-control" id="price" placeholder="$0.0">
                    </div>
                </div>

                <div class="mb-3 ">
                    <label for="description">Descripción</label>
                    <input type="text" class="form-control" id="description" placeholder="descripción del producto">
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Confirmar</button>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© Mi primera web :3</p>
    </footer>
</div>